body { 
    font-family:"Segoe UI","Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 0;
	margin-left:auto;
	margin-right:auto;
}

html{
    background: #ffffff;

}
#container{
    width: 1320px;
    height:100%;
    margin: 0 auto;
}
#container #loadingDiv img{
    margin: 0 auto;
    position: relative;
    top: 200px;
    left: 380px;
    z-index: 4;
}
div#map.content {
    width: 905px; 
    height: 450px;
    display: block;
    margin-left: 155px;
}
h1.title{
    display: inline;
    position:relative;
    margin-bottom:10px;
    font-size: 18px;
    color: #333333;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: capitalize;
}
fieldset {
    border:0;
    display:inline;
}

form{
    display:inline;
    padding: 0px;
}
.jvectormap-region {
    stroke: #adadad;
    stroke-width: 0.5;
}


label {
    font-weight: normal;
    float: left;
    margin-right: .5em;
    font-size: 75%;
    font-family:"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
}

select {
    margin-right: 1em;
    float: left;
    display: none;
}

button#play {
    width: 25px;
    height: 25px;
    position:relative;
    margin-left: 190px;
    top: 5px;
    left: 5px;
}


#totals{
    font-weight:bold;
    font-family:"Segoe UI","Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:18px;
    text-align:center;
}


header {
    width:75%;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 5px;
}
p.tickInfo{
    text-align: center;
    font-weight: 600;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
div.scaleInfo ul{
    display: block;
    padding: 0px;
    margin: 0px;
}
.legend{
    width: 180px;
    height:60px;
    margin-top: 45px;
    margin-right: 150px;
    color:#000000;
    position:relative;
    float: right;
    display: block;
    font-weight: 500;
    text-shadow: 1px 1px 2px #5e5e5e;
}

div.scaleInfo ul li{
    display: inline;
    font-size: 8px;
    margin:0;
    list-style: none;
    padding-right: 6px;
    
}

img.scale{
    display: block;
}
.nr{
    width:15px;
    height:15px;
    background:#cccccc;
    margin-top: 10px;
    float: left;
    display: block;
}
.nr p{
    margin-left: 20px;
    width: 60px;
    font-size: 10px;
    margin-top: 0px;
}

#threeContainer{
    height: 386px;
    width: 350px;
    display:block;
    position:relative;
    border: none;
    z-index: 2;
    margin-top: -520px;
    margin-bottom: 0px;
    margin-left: 45px;
}

#three{
    width:350px;
    height: 394px;
    background-color: #ffffff;
    display:block;
    border-width: 1px;
    border-color: #cccccc;
    border-style: solid;
    -moz-box-shadow: 3px 3px 4px #444;
    -webkit-box-shadow: 3px 3px 4px #444;
    box-shadow: 3px 3px 4px #444;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
    
}
canvas#myRadar{
    margin-left: 15px;
}
#period{
    font-weight:bold;
    color:#333333;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: capitalize;
    font-size:18px;
    display: inline;
    float: right;
}

h2.big {
    display: inline;
    color:#e31837;
    text-shadow: 0px 2px 2px #666;
    font-family: 'Molengo', Georgia, Times, serif;
    font-size: 46px;
}
#three p.threeTitle{
    font-family: 'Molengo', Georgia, Times, serif;
    color:#777777;
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 1px 2px #b8b8b8;
        filter: dropshadow(color=#b8b8b8, offx=2, offy=1);
}
#three p{
    font-size: 10px;
    color:#444444;
    margin:0;
    background-color: #ffffff;
}

.sidePanel{
    width: 45px;
    height: 125px;
    bottom: 280px;
    position:relative;
    border: none;
    display: visible;
}
.sidePanel h4{
    color: #333333;
    font-size: 10px;
    font-style: italic;
    margin:0;
}

.tSwitch{
    width:52px;
    height:29px;
    opacity: 0.3;
    float: right;
    position:relative;
    background-image: url('../images/switch.png');
    background-repeat: no-repeat;
    display: block;
    cursor: pointer;
}

a.slide{
    width: 33px;
    height: 135px;
    float: left;
    background-repeat: no-repeat;
    display: block;
    background-position: -30px -10px;
    background-image: url('../images/sideBv2.png');
}
#conData{
    width: 247px;
    height: 350px;
    padding: 2px;
    border-left-style:solid;
    border-color:#E3E3E3;
    border-width:1px; 
    float: right;
    margin-top: -400px;
}

.rtgActSection{
    display: inline;
    position: relative;
    width: 100%;
    height: 255px;
    float: left;


}
ul.gcon{
    margin:0;
    list-style: none;
    display: inline;

}
.actionStat{
    display:inline;
    float: left;
    width:135px;
}
.gdpSection{
    display:block;
    width: 100%;
    height:120px;
    margin-left: 10px;
    border: 1px solid #E3E3E3;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #ececec;
    float: left;
}
.gdpData{
    font-size: 12px;
    margin-left: 10px;
    font-weight: 530;

}
.gdpData span{
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
}
.gdpLine{
    margin-top: -15px;
    margin-right: 5px;
    float: right;
}
p.gdpChange{
    font-size: 12px;
    display: inline;
    position: relative;
    margin: 0;
    margin-right: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    float: left;
}
.gdpPerChange{
    float: left;
    display: inline;
    margin: 0px;
    font-size: 10px;
    text-shadow: 0 0 0 #000;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
}
.arrow{
    width: 10px;
    height: 10px;
    position: relative;
    margin-right: 3px;
    float: left;
    background-position: -20px 0;
    background-repeat: no-repeat;
    background-image: url('../images/arrow.png');
}
.arrowRtg{
    width: 10px;
    height: 10px;
    position: relative;
    margin-right: 3px;
    float: left;
    background-position: -20px 0;
    background-repeat: no-repeat;
    background-image: url('../images/arrow.png');
}

.gcon .arrow{
    margin-left: 10px;
}

ul.ticker{
    width:95%;
    padding: 5px;
    margin-left: 10px;
    position:relative;
    border: 1px solid #E3E3E3;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #ececec;


}
ul.ticker li{
    height: 17px;
    list-style: none;
    padding-top: 3px;
    padding-bottom: 5px;
    font-size: 12px;
    border-top: solid;
    border-top-width: 1px;
    border-top-color: #E3E3E3;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #c9c5c5;
}
ul.ticker li:first-child{
    border-top:none;
}
ul.ticker li:last-child{
    border-bottom: none;
}

.tickTitle{
    display:inline;
    font-weight: bold;
    margin-left: 8px;
    margin-right: 7px;
    text-align: center;
}

.line{
    float: right;
    position:relative;
}

.percent{
    font-size: 11px;
    float: left;
    margin-left: 6px;
    position:relative;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    display: inline;
    text-shadow: 0 0 0 #000;
    /* text-shadow must have an initial value for the animation to work. To animate from a "shadowless" state, set the shadow to 0 offset and 0 blur (e.g. 0 0 0 #000;)*/
}


#CountryIdentifier{
    background-color: #ffffff;
    margin: 0 auto;
    position:relative;
    border-width: 1px;
    border-color: #cccccc;
    border-style: solid;
    -moz-box-shadow: 3px 3px 4px #444;
    -webkit-box-shadow: 3px 3px 4px #444;
    box-shadow: 3px 3px 4px #444;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
    margin-bottom: 10px;
}
#CountryIdentifier p{
    text-align: center;
    display: inline;
}

#three .infoToClick{  
    top: 60px;
    margin: 0;
    background-color: #FFCC00;
    position: relative;
    z-index: 2;
    font-size: 30px;
    text-align: center;
}

#three .sadInfo {
    margin-top: 10px;
    display: inline;
    color:#e3173e;
    font-family: 'Molengo', Georgia, Times, serif;
    font-size: 14px;
    margin-left: 15px;
    font-weight: bold;
    position: relative;
    text-align: center;
}

#three hr{
    width: 150px;
    color: #E3E3E3;
}
#three img.sad{
    position: relative;
    width:120px;
    height: 115px;
    margin-top: 10px;
    margin-left:90px;

}

p.cName{
    position: relative;
    margin-left: 26px;
    margin-top: -20px;
    font-weight: 700;
    font-size: 18px;
    font-family: "Helvetica Neue",Arial,Helvetica, sans-serif;
}
ul.gcon li img#CountrySprite {
    width: 16px;
    height: 11px;
    margin-left: 3px;
    position: inline;
}








/*
 * jReject (jQuery Browser Rejection Plugin)
 * Version 1.0.0
 * URL: http://jreject.turnwheel.com/
 * Description: jReject is a easy method of rejecting specific browsers on your site
 * Author: Steven Bower (TurnWheel Designs) http://turnwheel.com/
 * Copyright: Copyright (c) 2009-2011 Steven Bower under dual MIT/GPL license.
 */

#jr_overlay {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: 200;
    position: absolute;
}

#jr_wrap {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 300;
    padding: 0;
    margin: 0;
}

#jr_inner {
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    font-size: 12px;
    background: #FFF;
    border: 1px solid #CCC;
    color: #4F4F4F;
    margin: 0 auto;
    height: auto;
    padding: 20px;
    position: relative;
}

#jr_header {
    display: block;
    color: #333;
    padding: 5px;
    padding-bottom: 0;
    margin: 0;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 1.3em;
    margin-bottom: 0.5em;
}

#jr_inner p {
    text-align: left;
    padding: 5px;
    margin: 0;
}

#jr_inner ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#jr_inner ul li {
    cursor: pointer;
    float: left;
    width: 120px;
    height: 122px;
    margin: 0 10px 10px 10px;
    padding: 0;
    text-align: center;
}

#jr_inner li a {
    color: #333;
    font-size: 0.8em;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

#jr_inner li a:hover {
    text-decoration: underline;
}

#jr_inner .jr_icon {
    width: 100px;
    height: 100px;
    margin: 1px auto;
    padding: 0;
    background: transparent no-repeat scroll left top;
    cursor: pointer;
}

#jr_close {
    margin: 0 0 0 50px;
    clear: both;
    text-align: left;
    padding: 0;
    margin: 0;
}

#jr_close a {
    color: #000;
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

#jr_close p {
    padding: 10px 0 0 0;
    margin: 0;
}
.ViewSwap{
    width: 40%;
    margin: 0px auto;
    padding: 3px;
}
.view-group > .btn{
    margin: -2px;
}

.ViewSwap button:first-child{
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-topright: 0px; 
}
.ViewSwap button:last-child{
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-topleft: 0px; 
}

/*!
 * Bootstrap v2.0.4
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:28px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
.btn{display:inline-block;*display:inline;*zoom:1;padding:4px 10px 4px;margin-bottom:0;font-size:13px;line-height:18px;*line-height:20px;color:#333333;text-align:center;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);vertical-align:middle;cursor:pointer;background-color:#f5f5f5;background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);background-image:-ms-linear-gradient(top, #ffffff, #e6e6e6);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);background-image:linear-gradient(top, #ffffff, #e6e6e6);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#e6e6e6;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);border:1px solid #cccccc;*border:0;border-bottom-color:#b3b3b3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;*margin-left:.3em;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);}.btn:hover,.btn:active,.btn.active,.btn.disabled,.btn[disabled]{background-color:#e6e6e6;*background-color:#d9d9d9;}
.btn:active,.btn.active{background-color:#cccccc \9;}
.btn:first-child{*margin-left:0;}
.btn:hover{color:#333333;text-decoration:none;background-color:#e6e6e6;*background-color:#d9d9d9;background-position:0 -15px;-webkit-transition:background-position 0.1s linear;-moz-transition:background-position 0.1s linear;-ms-transition:background-position 0.1s linear;-o-transition:background-position 0.1s linear;transition:background-position 0.1s linear;}
.btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn.active,.btn:active{background-color:#e6e6e6;background-color:#d9d9d9 \9;background-image:none;outline:0;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);}
.btn.disabled,.btn[disabled]{cursor:default;background-color:#e6e6e6;background-image:none;opacity:0.65;filter:alpha(opacity=65);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.btn-large{padding:9px 14px;font-size:15px;line-height:normal;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.btn-large [class^="icon-"]{margin-top:1px;}
.btn-small{padding:5px 9px;font-size:11px;line-height:16px;}
.btn-small [class^="icon-"]{margin-top:-1px;}
.btn-mini{padding:2px 6px;font-size:11px;line-height:14px;}
.btn-primary,.btn-primary:hover,.btn-warning,.btn-warning:hover,.btn-danger,.btn-danger:hover,.btn-success,.btn-success:hover,.btn-info,.btn-info:hover,.btn-inverse,.btn-inverse:hover{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);}
.btn-primary.active,.btn-warning.active,.btn-danger.active,.btn-success.active,.btn-info.active,.btn-inverse.active{color:rgba(255, 255, 255, 0.75);}
.btn{border-color:#ccc;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}
.btn-primary{background-color:#0074cc;background-image:-moz-linear-gradient(top, #0088cc, #0055cc);background-image:-ms-linear-gradient(top, #0088cc, #0055cc);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));background-image:-webkit-linear-gradient(top, #0088cc, #0055cc);background-image:-o-linear-gradient(top, #0088cc, #0055cc);background-image:linear-gradient(top, #0088cc, #0055cc);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);border-color:#0055cc #0055cc #003580;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#0055cc;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{background-color:#0055cc;*background-color:#004ab3;}
.btn-primary:active,.btn-primary.active{background-color:#004099 \9;}
.btn-warning{background-color:#faa732;background-image:-moz-linear-gradient(top, #fbb450, #f89406);background-image:-ms-linear-gradient(top, #fbb450, #f89406);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));background-image:-webkit-linear-gradient(top, #fbb450, #f89406);background-image:-o-linear-gradient(top, #fbb450, #f89406);background-image:linear-gradient(top, #fbb450, #f89406);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);border-color:#f89406 #f89406 #ad6704;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#f89406;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-warning:hover,.btn-warning:active,.btn-warning.active,.btn-warning.disabled,.btn-warning[disabled]{background-color:#f89406;*background-color:#df8505;}
.btn-warning:active,.btn-warning.active{background-color:#c67605 \9;}
.btn-danger{background-color:#da4f49;background-image:-moz-linear-gradient(top, #ee5f5b, #bd362f);background-image:-ms-linear-gradient(top, #ee5f5b, #bd362f);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));background-image:-webkit-linear-gradient(top, #ee5f5b, #bd362f);background-image:-o-linear-gradient(top, #ee5f5b, #bd362f);background-image:linear-gradient(top, #ee5f5b, #bd362f);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);border-color:#bd362f #bd362f #802420;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#bd362f;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-danger:hover,.btn-danger:active,.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled]{background-color:#bd362f;*background-color:#a9302a;}
.btn-danger:active,.btn-danger.active{background-color:#942a25 \9;}
.btn-success{background-color:#5bb75b;background-image:-moz-linear-gradient(top, #62c462, #51a351);background-image:-ms-linear-gradient(top, #62c462, #51a351);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));background-image:-webkit-linear-gradient(top, #62c462, #51a351);background-image:-o-linear-gradient(top, #62c462, #51a351);background-image:linear-gradient(top, #62c462, #51a351);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);border-color:#51a351 #51a351 #387038;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#51a351;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]{background-color:#51a351;*background-color:#499249;}
.btn-success:active,.btn-success.active{background-color:#408140 \9;}
.btn-info{background-color:#49afcd;background-image:-moz-linear-gradient(top, #5bc0de, #2f96b4);background-image:-ms-linear-gradient(top, #5bc0de, #2f96b4);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));background-image:-webkit-linear-gradient(top, #5bc0de, #2f96b4);background-image:-o-linear-gradient(top, #5bc0de, #2f96b4);background-image:linear-gradient(top, #5bc0de, #2f96b4);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);border-color:#2f96b4 #2f96b4 #1f6377;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#2f96b4;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-info:hover,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled]{background-color:#2f96b4;*background-color:#2a85a0;}
.btn-info:active,.btn-info.active{background-color:#24748c \9;}
.btn-inverse{background-color:#414141;background-image:-moz-linear-gradient(top, #555555, #222222);background-image:-ms-linear-gradient(top, #555555, #222222);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));background-image:-webkit-linear-gradient(top, #555555, #222222);background-image:-o-linear-gradient(top, #555555, #222222);background-image:linear-gradient(top, #555555, #222222);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);border-color:#222222 #222222 #000000;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#222222;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-inverse:hover,.btn-inverse:active,.btn-inverse.active,.btn-inverse.disabled,.btn-inverse[disabled]{background-color:#222222;*background-color:#151515;}
.btn-inverse:active,.btn-inverse.active{background-color:#080808 \9;}
button.btn,input[type="submit"].btn{*padding-top:2px;*padding-bottom:2px;}button.btn::-moz-focus-inner,input[type="submit"].btn::-moz-focus-inner{padding:0;border:0;}
button.btn.btn-large,input[type="submit"].btn.btn-large{*padding-top:7px;*padding-bottom:7px;}
button.btn.btn-small,input[type="submit"].btn.btn-small{*padding-top:3px;*padding-bottom:3px;}
button.btn.btn-mini,input[type="submit"].btn.btn-mini{*padding-top:1px;*padding-bottom:1px;}

